body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}
.main-area{
    margin: 0 auto;
    max-width: 1280px;
}

.title-motto{
    font-size: 42px;
    color: #ffffff;
    font-weight: 900;
}
.banner-area >p{
    color: #ffffff;
    font-size: 20px;
}
.button{
    background-color:#ff5959 ;
    padding: 15px 25px;
    font-size: 20px;
    color: #ffffff;
    
}



.banner-area{
    width: 100%;
    height:  628px;
    background-image: url(images/donation5.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center; 
}











