body {
    font-family: 'Jost', sans-serif;
    margin: 0;
}
.main-area{
    margin: 0 auto;
    max-width: 1280px;
}

.banner-area{
    width: 100%;
    height:  628px;
    background-image: url(images/donation5.jpg);
    background-size:     cover;            
    background-repeat:   no-repeat;
    background-position: center center; 
}
.banner-content{
    margin: auto;
    width: 50%;
    padding: 100px;
}

.title-motto{
    font-size: 42px;
    color: #ffffff;
    font-weight: 600;
}

.banner-content >p{
    color: #e5e4e4;
    font-size: 20px;
}
.button{
    background-color:#ff5959 ;
    padding: 15px 25px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    
}

/* ==================================== */
.inspired-donation-text{
    text-align: center;
    color: #444343;
}
.donation-text>p{
    font-size: 20px;
}
.donation-ammount-parent{
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin-top: 40px;
}
.donation-ammount {
margin: 0px 50px;
margin-bottom: 50px;
width: 150px;
height: 150px;
background-color: #e5e4e4;
font-size: 26px;
font-weight: 600;
}
.donation-ammount>p{
    text-align: center;
    margin-top: 60px;
}
.donation-ammount:hover{
background-color: #ffeeee;
color:#ff5959;
border: 2px solid #ff5959;
width: 146px;
height: 146px;
border-radius: 5px;
}


.input-area{
    text-align: center;
    font-size: 20px;
    border: none;
    margin-top: 30px;
    width: 100%;
    border-bottom: 1px solid #6c757d;
    
}
.button2{
    background-color:#ff5959 ;
    text-align: center;
    padding: 15px 25px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    margin-left: 42%;
    margin-top: 30px;
    
}


/* ============================= */
.content-article{
    display: block;
    float: left;
}


#food_area {
    background-color: rgb(129, 253, 212);
    margin: 0 8px;
    border-radius: 10px;
    width: 32%;
}

#uniform_area {
    background-color: rgb(56, 247, 183);
    border-radius: 10px;
    margin: 0 8px;
    width: 32%;
}

#stationary_area {
    background-color: rgb(182, 255, 231);
    border-radius: 10px;
    margin: 0 8px;
    width: 32%;
}
.donation-plan-title{
    margin-top: 50px;
}
.donation-plan-title >h1{
    text-align: center;
    font-size: 42px;
}
.donation-plan{
    display: flex;
    flex-direction: row;
    margin: 10px;
}

























.discound_info button {
    padding: 17px 32px;
}

.discound_info>h1 {
    font-size: 42px;
}

.discound_info>p {
    font-size: 24px;
}

.discount_highight {
    color: #0e65f3;
}








